@model IEnumerable<NorthWind.Web.Models.Response.CategoryViewResult>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create">Crear nueva</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id = item.CategoryID  }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryID })
                    <button class="btn btn-link" onclick="deleteCategory(@item.CategoryID)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function deleteCategory(categoryId) {
        if (confirm('¿Está seguro de que desea borrar esta categoría?')) {
            // Enviar una solicitud DELETE al controlador
            $.ajax({
                url: '/Categories/Delete/' + categoryId,
                type: 'DELETE',
                success: function () {
                    // Recargar la página o actualizar la lista de categorías
                    location.reload();
                },
                error: function (error) {
                    console.log(error);
                    alert('Error al intentar borrar la categoría.');
                }
            });
        }
    }
</script>